/*GENERAL*/
*{ /*El asterisco afecta a todos los elementos*/
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
h1{
	font-size: 3rem;
	font-weight: 800;
}

h2{
	font-size: 1.625rem;
	font-weight: 500;
}

h3{
	font-size: 1.2rem;
	font-weight: 500;
}
section{
	background: black;
	border-bottom: 8px solid #222;
}

.tv, .descarga, .disfruta, .preguntas, .pie{
	padding-top: 60px;
	padding-bottom: 50px;
}

section div.contenido{
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

section div.contenido div{
	
}

.restaurar{
	clear: both;
}
/*GENERAL*/
/*FONDO*/
html, body, .cover{
	height: 100%;
}

.cover{
	background: url(../img/fondonetflix2020.jpg);
	background-size: 100% 100%; /**/
	filter:brightness(0.6);
}

/*FONDO*/
/*CABECERA*/
section.cabecera{
	background: none;
	position: absolute;
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	background-image: linear-gradient(to top, rgba(0,0,0,0) 60%, rgba(0,0,0,0)100%);
}

nav{
	margin: 0 3.5rem;
	padding-top: 26px;
}

div.logo{
	padding: 0px 0px;
	float: left;
}

div.login{
	float: right;
}

div.login:hover{
	cursor: pointer;
}

div.login span{
	padding:7px 15px;
	background: #e50914;
	border-radius: 4px;
}

.presentacion{
	text-align: center;
	padding: 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.presentacion input{
	height: 61px;
	width: 500px;
	margin-top: 8px;
	margin-bottom: 3px;
	border-radius: 3px 0px 0px 3px;
	border: solid 0.5px #AEAAAA;
	border-right: solid 0.5px #6597FE;
	padding-left: 11px;
	color: #070707;
}

.presentacion span{
	background: red;
	padding: 20px;
	padding-bottom: 23px;
	margin-left: -5px;
}

.presentacion span:hover, .contPreguntas span:hover{
	cursor: pointer;
	background: red;
}
/*CABECERA*/

/*TV*/
.izquierda{
	float: left;
}
.derecha{
	float: right;
}

.flotantetexto{
	width: 59%;
}

.flotantevideo{
	width: 39%;
}

.contenido img{
	width: 100%;
	height: auto;
	border:0;
	position: relative;
	z-index: 2;
}

.contenido h2{
	font-weight: bold;
	font-size: 50px;
}

.contenido p{
	font-size: 25px;
	font-weight: 200M
}

.tv video{
	position: absolute;
	transform: translate(-373px, 68px);
	width: 313px;
	z-index: 1,
}
/*TV*/


/*DESCARGA*/


/*DISFRUTA*/

.disfruta video{
	position: absolute;
	transform: translate(-349px, 34px);
    width: 264px;
	z-index: 1,
}

.tarjeta, .portada{
	display: flex;
	align-items: center;	
}

.tarjeta{
	width: 70%;
	margin: auto;
	border: solid 1px gray;
	padding: 10px;
	border-radius: 7px;
	position: relative;
	z-index: 2;
	background: black;
}

.izquierda.flotantevideo {
    position: relative;
    transform: translate(-64px,-41px);
}

/*Preguntas Frecuentes*/
.preguntas h2{
	font-size: 35px;
	font-weight: bold;
}
.contPreguntas{
	width: 650px;
	margin: auto;
	text-align: center;
}

.contPreguntas div{ 
	text-align: left;
	font-size: 20px;
}
.pregunta{ 
	background: #303030;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.respuesta{
	background: #303030;
	margin-bottom: 5px;
	margin-top: 5px;
}
.pregunta p, .respuesta p{
	padding: 10px;
	padding-left: 20px;
}

.respuesta hr{
	border:1px solid #262626;
}
.pregunta:hover .respuesta{
	max-height: 1000px;
}

.respuesta{
	max-height: 0px;
	overflow: hidden;
	transition: all 4s
}

.contPreguntas input{
	height: 70px;
	width: 465px;
	margin-top: 8px;
	margin-bottom: 3px;
	border-radius: 2px 0px 0px 2px;
	border:solid 1px #5695e9;
	padding-left: 11px;
	color: #1C1C1C;
}

.contPreguntas span{
	background: red;
	padding: 22px;
	padding-bottom: 25px;	
	margin-left: -5px;
	font-weight: 500;
	border: solid #d30f18;
}

.contPreguntas h3{
	font-size: 15px;
}

/*PIE*/
.llama{
	width: 500px;
	margin-left: 330px;
	padding: 8px;
}
.pie_contenido {
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie p{
	padding: 8px;
}

.pie .espacio{
	width: 75px;
}